body
{
    margin: 0 20px 200px 20px;

    background-color: #565656;
}

#jp_container_1
{
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
}

#vlc
{
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
}

#reading td.__active
{
    padding: 0 10px 10px 10px;

    border-right: 1px solid black;
}

#reading td.disabled
{
    padding: 0 10px 10px 10px;
}

#reading tr.header td
{
    height: 70px;
}

#reading tr.footer td
{
    height: 300px;
}

#reading span.__term
{
    display: inline;
}


#reading span.__term.__known
{
    background-color: white;
}

#reading span.__term.__current
{
    border-bottom: 2px solid red !important;
}

#reading span.__term.__matching
{
    background-color: #ffe97f !important;
}

#reading span.__term.__unknown
{
    border: 1px solid #f5b8a9;
    background: rgba(245,184,169,.3);
}

#reading span.__term.__notseen
{
    border: 1px solid #dae5eb;
    background-color: rgba(0,38,255,.05);
}

#reading span.__term.__ignored
{
    background-color: white;
}

#reading span.__term.__kd
{
    border: 1px solid #cecece;
    background-color: rgba(205,205,205,.1);
}

#reading span.__term.__id
{
    border: 1px solid #cecece;
    background-color: rgba(205,205,205,.1);
}



#reading span.__term.__temp
{
    background-color: rgba(145, 255, 180, 0.5);
    border: 1px solid #91ffb4;
}

#reading span.__fragment.__current
{
    border: 1px solid #ffe97f !important;
    background-color: #ffe97f !important;
}



#reading span.__fragment.__unknown
{
    border: 1px solid #f5b8a9;
    background: rgba(245,184,169,.3);
}
