body
{
    margin: 0 20px 200px 20px;

    color: white;
    background: black;
}

#reading
{
    font-size: 20px;
    line-height: 30px;

    width: 70%;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;

    background: black;
}

#popup
{
    color: black;
}

#reading span.__term.__known
{
    background-color: black;
}

#reading span.__term.__unknown
{
    border: 1px solid #ac193d;
    background-color: rgba(172,25,61,.4);
}

#reading span.__term.__notseen
{
    border: 1px solid #636bff;
    background-color: rgba(99,107,255,.4);
}

#reading span.__term.__ignored
{
    background-color: black;
}

#reading span.__term.__temp
{
    background-color: rgba(87,153,106,0.7);
    border: 1px solid #57996A;
}

#reading span.__term.__current
{
    border-bottom: 2px solid red !important;
}

#reading span.__term.__matching
{
    background-color: #FFE792 !important;
    color: black;
}

#reading span.__term.__id
{
    border: none;
    border-bottom: 1px solid #cecece;
}

#reading span.__term.__kd
{
    border: none;
    border-bottom: 1px solid #cecece;
}

#reading span.__fragment.__current
{
    background-color: #4da560;
}



#reading span.__fragment.__unknown
{
    border: 1px solid #ac193d;
    background-color: rgba(172,25,61,.4);
}



#video
{
    width: 730px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

#vlc 
{
    
}

#l1Main
{
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
}

#l2Main
{
    width: 100%;
    height: 50px;
}

div.jp-video-270p
{
    width: 720px !important;
}

#modalContent
{
    color: black;
}

.tooltip.in {
    opacity: 1 !important;
}

.tooltip-inner
{
    color: #000 !important;
    background-color: #fff !important;
}

.tooltip.top .tooltip-arrow
{
    border-top-color: #fff !important;
}
